# 🔐 Fichiers sensibles
/config/config.php

# 📁 Fichiers de stockage utilisateur
/storage/uploads/
/storage/archive/

# 💬 Logs & temporaires
*.log
*.tmp
*.zip
*.bak

# 💼 IDE / système
.vscode/
.idea/
.DS_Store
Thumbs.db

# 📦 Composer
/vendor/
composer.lock
